{% extends "base.html" %}

{% block content %}
    <h2>Direction "{{ direction.name }}"</h2>
    <div><a href="{% url 'view:directions_index' %}">Go to list</a></div>
    {% if directionstation_list %}
        <h4>Stations</h4>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            {% for ds in directionstation_list %}
                <tr>
                    <td>{{ ds.position }}</td>
                    <td>
                        <a href="{% url 'view:stations_detail' ds.station.id %}"
                            >{{ ds.station.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if route_list %}
        <h4>Routes</h4>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            {% for r in route_list %}
                <tr>
                    <td>
                        {{ r.id }}
                    </td>
                    <td>
                        <a href="{% url 'view:routes_detail' r.id %}">{{ r.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div>Direction ID: {{ direction.id }}</div>
{% endblock %}
