{% extends "base.html" %}

{% block content %}
    <h2>Directions</h2>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        {% for d in directions %}
            <tr>
                <td>
                    {{ d.id }}
                </td>
                <td>
                    <a href="{% url 'view:directions_detail' d.id %}">{{ d.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
