{% extends "view/base.html" %}

{% block content %}
    <h2>Routes</h2>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        {% for r in routes %}
            <tr>
                <td>
                    {{ r.id }}
                </td>
                <td>
                    <a href="{% url 'view:routes_detail' r.id %}">{{ r.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
