{% extends "view/base.html" %}

{% load view_filters %}

{% block content %}
    <h2>Route "{{ route.name }}"</h2>
    <div><a href="{% url 'view:routes_index' %}">Go to list</a></div>
    <div>
        Direction:
        <a href="{% url 'view:directions_detail' route.direction.id %}">{{ route.direction.name }}</a>
    </div>
    {% if routestation_list %}
        <h4>Stations</h4>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Wait time</th>
                <th>Travel time</th>
            </tr>
            {% for rs in routestation_list %}
                <tr>
                    <td>
                    {{ rs.position }}
                    </td>
                    <td>
                    <a href="{% url 'view:stations_detail' rs.station.id %}">{{ rs.station.name }}</a>
                    </td>
                    <td>
                    {{ rs.wait_time }}
                    </td>
                    <td>
                    {{ rs.move_time }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if timetable_list %}
        <h4>Timetable</h4>
        <table class="table table-striped">
            <tr>
                <th>Weekday</th>
                <th>Time</th>
            </tr>
            {% for tt in timetable_list %}
                <tr>
                    <td>{{ tt.weekday | weekday }}</td>
                    <td>{{ tt.time }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div>Route ID: {{ route.id }}</div>
{% endblock %}
