{% extends "view/base.html" %}

{% block content %}
    <h2>Stations</h2>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        {% for s in stations %}
            <tr>
                <td>
                    {{ s.id }}
                </td>
                <td>
                    <a href="{% url 'view:stations_detail' s.id %}">{{ s.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
