{% extends "base.html" %}

{% block content %}
    <h2>Station "{{ station.name }}"</h2>
    <div><a href="{% url 'view:stations_index' %}">Go to list</a></div>
    {% if directionstation_list %}
        <h4>Directions</h4>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        {% for ds in directionstation_list %}
            <tr>
                <td>{{ ds.direction.id }}</td>
                <td>
                <a href="{% url 'view:directions_detail' ds.direction.id %}"
                    >{{ ds.direction.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if routestation_list %}
        <h4>Routes</h4>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            {% for rs in routestation_list %}
                <tr>
                    <td>
                        {{ rs.route.id }}
                    </td>
                    <td>
                        <a href="{% url 'view:routes_detail' rs.route.id %}">{{ rs.route.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div>Station ID: {{ station.id }}</div>
{% endblock %}
