{% extends "www/base.html" %}

{% block content %}
    <h2>Route "<span id="name"></span>"</h2>
    <div>Direction: "<span id="direction"></span>"</div>
    <div>Travel time: <span id="travel_time"></span></div>

    <h3>Stations</h3>
    <table id="stations" class="table table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Wait time</th>
            <th>Move time</th>
        </tr>
    </table>

    <h3>Timetable</h3>
    <table id="timetable" class="table table-striped">
        <tr>
            <th>#</th>
            <th>Weekday</th>
            <th>Time</th>
        </tr>
    </table>

    <div>Object ID: <span id="obj_id"></span></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $.getJSON('/api/route/{{pk}}/', function( o ) {
                $('#name').text( o.name );
                $('#direction').text( o.direction.name );
                $('#travel_time').text( o.travel_time );
                $('#obj_id').text( o.id );
                $.each( o.routesstation, function( i, rs ) {
                    $('#stations').append('<tr><td>' + rs.station.id
                        + '</td><td><a href="/station/' + rs.station.id + '">'
                        + rs.station.name + '</a></td><td>'
                        + rs.wait_time + '</td><td>' + rs.move_time + '</td></tr>');
                });
                $.each( o.timetable, function( i, t ) {
                    $('#timetable').append('<tr><td>' + i + '</td><td>'
                        + t.weekday + '</td><td>' + t.time + '</td></tr>');
                });
            });
        });
    </script>
{% endblock %}
