{% extends "www/base.html" %}

{% block content %}
    <h2>Routes</h2>

    <table id="table" class="table table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Direction name</th>
            <th>Station count</th>
        </tr>
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $.getJSON('/api/route/', function(data) {
                $.each( data, function( i, o ) {
                    $('#table').append('<tr><td>' + o.id + '</td><td><a href="/route/' + o.id + '">'
                        + o.name + '</a></td><td>' + o.direction.name + '</td><td>'
                        + o.station_count + '</td></tr>');
                });
            });
        });
    </script>
{% endblock %}
