{% extends "www/base.html" %}

{% block content %}
    <h2>Search</h2>

    <div class="row">
        <div class="col-md-2">
            <form id="search_form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="start_station_input">Start station:</label>
                    <select class="form-control" id="start_station_input" name="start_station">
                    </select>
                </div>
                <div class="form-group">
                    <label for="end_station_input">End station:</label>
                    <select class="form-control" id="end_station_input" name="end_station">
                    </select>
                </div>

                <div class="form-group">
                    <label for="date_input">Date:</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" name="date" id="date_input">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="timeinterval_input">Time interval:</label>
                    <select class="form-control" id="timeinterval_input"
                        name="timeinterval">
                    </select>
                </div>

                <input class="btn btn-success" value="search" onclick="search();" />
            </form>
        </div>
        <div class="col-md-10">
            <div id="results" style="display:none;">
                <h3>
                    "<span id="start_station_label"></span> - <span id="end_station_label"></span>"
                    routes on <span id="date_label"></span>
                </h3>
                <table id="table" class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Start station</th>
                        <th>End station</th>
                        <th>Routes</th>
                        <th>Direction</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <link href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    <script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        function search() {
            $('#errors').hide();
            $('#results').hide();
            //
            $.getJSON('/api/search?' + $('#search_form').serialize(), function( o ) {
                if ('error' in o) {
                    $('#errors').text(o.error);
                    $('#errors').show();
                } else {
                    $('#results').show();
                    $('#table').text('');
                    $('#table').append('<tr><th>#</th><th>Start station</th><th>End station</th>'
                        + '<th>Routes</th><th>Direction</th></tr>');
                    $('#start_station_label').text(o.start_station.name);
                    $('#end_station_label').text(o.end_station.name);
                    $('#date_label').text(o.date);
                    $.each( o.path, function( i, p ) {
                        var routes_el = '<ul>';
                        $.each( p.routes, function( i, r ) {
                            routes_el = routes_el + '<li>' + r.route.name + ' / ' + r.time + '</li>';
                        });
                        routes_el = routes_el + '</ul>';
                        var el = '<tr>'
                            + '<td>' + i
                            + '</td><td>' + p.start_station.name
                            + '</td><td>' + p.end_station.name
                            + '</td><td>' + routes_el
                            + '</td><td>' + p.direction.name
                            + '</td></tr>';
                        $('#table').append(el);
                    });
                }
            });
        }
        $(function() {
            $("#datepicker").datepicker();

            $.getJSON('/api/station/', function( o ) {
                $.each( o, function( i, s ) {
                    var el = '<option value="' + s.id + '">' + s.name + '</option>';
                    $('#start_station_input').append(el);
                    $('#end_station_input').append(el);
                });
            });

            $.getJSON('/api/tools/?tool=timeintervals', function( o ) {
                $.each( o, function( i, ti ) {
                    var text = '';
                    if ( ti[1] )
                        text = ti[1][0] + ' - ' + ti[1][1];
                    else
                        text = 'ALL';
                    var el = '<option value="' + ti[0] + '">'
                        + text + '</option>';
                    $('#timeinterval_input').append(el);
                });
            });

        });
    </script>
{% endblock %}
