{% extends "www/base.html" %}

{% block content %}
    <h2>Station "<span id="name"></span>"</h2>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $.getJSON('/api/station/{{pk}}/', function(data) {
                if ( data.length ) {
                    obj = data[0];
                    $('#name').text( obj.fields.name );
                } else {
                    $('#errors').text('Invalid ID');
                    $('#errors').show();
                }
            });
        });
    </script>
{% endblock %}
